<button class="button button-block button-positive" ng-click="bankpage()">
    List
</button>
<td-cards>

    <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
        <div class="image" ng-controller="CardCtrl">
            <div class="no-text">Rex</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text">Fido</div>
        </div>
    </td-card>



</td-cards>
